.pricing{

       background-image: url(/dist/img/pricing-bg.png);
       background-repeat: no-repeat;
       background-size: cover;
       padding: 50px 0;

       @media (max-width: $tablet) {
            padding: 0 40px 40px;
        @media (max-width: $tablet) {
            padding: 0 0 40px;
          }
      }
      &-bg{
        @media (max-width: $tablet) {
            padding: 0;
          }
      }
}

.card-box-pricing{
    @include flex-evenly;

         @media (max-width: $mobile){
            justify-content: center;
            margin: 0 30px;
            }

    & .card{
        background-color:rgba(255,255,255, 0.11);
        border: none;
        border-radius: 0;
        max-width: 257px;
        max-height: 510px;
        padding: 0;
        margin-bottom: 100px;

        @media (max-width: 1070px) {
            margin:0 5px 100px ;
            max-width: 235px;
           
        }
        @media (max-width: 993px) {
            margin:0 40px 100px ;
            max-width: 257px;
           
        }
        @media (max-width: $tablet) {
            margin:0 15px 50px ;
            justify-content: center;
         }
         @media (max-width: $mobile) {
            margin: 7.5px;
            
         }

        & .card-header{
            border: none;
            background-color: rgba(255,255,255, 0.06);
            padding: 45px 0 30px;

            &:first-child {
                border-radius:0px;
            }
        }
        & .card-body{
            padding: 30px 0 40px;
            
            & .text-month{
                font-size: 14px;
                font-weight: 400;
                color: $primary-color;
                font-family: $font-secondary;
                text-transform: uppercase;

                &::after{
                    content: '';
                    display: block;
                    width: 60px;
                    height: 5px;
                    background-color:$primary-color;
                    margin:40px auto 30px;
                }
            }

            & .card-text{
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
                font-family: $font-primary;
                color: $secondary-color;
                margin: 0 auto 40px;
                max-width: 200px;
                min-height: 50px;
            }
        }
    }
}